html, body {
	width: 100vw; height: 100vh; box-sizing: border-box;
	margin: 0; padding: 0;
}

body {
	background: #fff;
	color: #314159;
	padding: 1em;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-family: "Marker Felt";
	text-align: center;
}

ul {
	margin: 2em;
	font-size: 3em;
}

li {
	line-height: 2;
}

.basic, .advanced, .placement {
	margin: auto;
	list-style: none;
	padding: 0;
}

.basic, .advanced {
	font-size: 6em;
}

.basic, .placement {
	max-width: max-content;
	max-width: -moz-max-content;
}

.basic li,
.advanced li,
.placement li {
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.ascii header { background: rgba(0, 100, 0, 0.2); }
.ascii article { background: rgba(0, 0, 100, 0.2); }
.ascii aside { background: rgba(100, 100, 100, 0.2); }
.ascii footer { background: rgba(0, 0, 200, 0.2); }

.ascii h2, .ascii footer { text-align: center; }
.ascii article { padding: 1em; }
.ascii footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ascii code {
	background: #ccc;
	color: maroon;
	font-size: 110%;
}

