html, body {
	width: 100vw; height: 100vh; box-sizing: border-box;
	margin: 0; padding: 0;
}

body {
	background: #fff;
	color: #314159;
	padding: 1em;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-family: "Marker Felt";
	text-align: center;
}

ul {
	margin: 2em;
	font-size: 3em;
}

li {
	line-height: 2;
}

.basic, .advanced {
	font-size: 6em;
	margin: auto;
	list-style: none;
	padding: 0;
}

.basic {
	max-width: max-content;
	max-width: -moz-max-content;
}

.basic li,
.advanced li {
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.2);
}